certifi==2021.5.30
click==8.0.1
cloudpickle==1.6.0
colorama==0.4.4
commonmark==0.9.1
cytoolz==0.11.0
dask==2021.8.0
distributed==2021.8.0
fsspec==2021.7.0
HeapDict==1.0.1
importlib-metadata==3.10.0
Jinja2==3.0.1
locket==0.2.1
MarkupSafe==2.0.1
msgpack==1.0.2
packaging==21.0
partd==1.2.0
pip==21.2.4
psutil==5.8.0
Pygments==2.10.0
pyparsing==2.4.7
PyYAML==5.4.1
rich==10.9.0
setuptools==52.0.0.post20210125
sortedcontainers==2.4.0
tblib==1.7.0
toolz==0.11.1
tornado==6.1
wheel==0.37.0
zict==2.0.0
zipp==3.5.0
